@font-face {
  font-family: "Bahamas";
  font-family: "Camar";
  font-family: "Monkstead-Round";
  font-family: "VikeysPersonalUse-YzaPL";
  src: url("fonts/Bahamas.ttf");
  src: url("fonts/Camar.otf");
  src: url("fonts/Monkstead-Round.otf");
  src: url("fonts/VikeysPersonalUse-YzaPL.otf");
}

body {
  background-color: #000;
}

.container-fluid {
  padding-left: 20%;
  padding-right: 15%;
}

/* Navigation Bar */
.navbar {
  padding-top: 1.5%;
  background-color: #000;
  font-weight: 500;
  vertical-align: middle;
}

.navbar-brand {
  margin-right: 42%;
}

.navigation-heading {
  color: #C0C0C0;
  font-family: "Poppins";
  font-weight: bold;
}

.nav-item {
  width: 100px;
  text-align: center;
  font-size: 18px;
  font-family: "Poppins";
  font-weight: 500;
}

.get-in-touch {
  text-align: left;
  width: 130px;
}

/* About Me */
#title {
  margin-top: 10%;
}

.title-heading-1 {
  font-size: 9rem;
  font-family: "VikeysPersonalUse-YzaPL";
  font-weight: bold;
  color: #fff;
}

.designed {
  font-family: "VikeysPersonalUse-YzaPL";
  background-image: linear-gradient(108deg, #F59919, #f53ec2);
  font-weight: 700;
  text-shadow: 0 0 30px rgb(250 115 111 / 70%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  display: inline;
  line-height: 40px;
}

/* .title-text {
  color: #EAEADA;
} */
/* About Me Section */
#about {
  margin-top: 25%;
}

.about-heading-h1 {
  font-size: 3rem;
  font-family: "VikeysPersonalUse-YzaPL";
  font-weight: bold;
  color: #EAEADA;
}

.hand{
  display: inline;
  font-size: 2rem;
}

.about-paragraph {
  font-size: 1.4rem;
  font-family: "VikeysPersonalUse-YzaPL";
  font-weight: bold;
  color: #fff;
  display: inline-block;
}
